* {
    box-sizing: border-box;
    font-family: rigid-square, sans-serif;
    font-size: 20px;
}

html {
    height: 100%;
    --text-color: #343488;
    --dark-blue: #090940;
    --white: #ffffff;
}

nav {
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-bottom: solid 1px #e0dedc;
    max-width: 100%;
}

.logo {
    margin: .5rem;
    margin-left: 1.25em;
}

.logo img {
    width: 2rem;
    height: 2rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar-links li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    transition: 0.8s;
}

.navbar-links li a {
    text-decoration: none;
    display: block;
    font-size: 0.7rem;
    color: var(--dark-blue);
}

.navbar-links li:hover {
    text-decoration: underline 1px var(--text-color);
    transform: scale(1.2);
}

/* toggle button in navbar */
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--dark-blue);
    border-radius: 10px;
}

/* filter section */
.filter {
    max-width: 100%;
    margin: 2rem;
}


/* method section */
.methods {
    max-width: 100%;
    margin: 2rem;
}

.method-card img {
    max-width: 100%;
}

.method-card .method-info {
    color: var(--text-color);
    font-size: 0.8rem;
    max-width: 100%;
}

.method-card {

}

/* Tablet screens */
@media (min-width: 24rem) {
    .methods {
        
    }
}

/* Laptop screens 808px */
@media (min-width: 40.4rem) {
    
}

/* Big screens XL */
@media (min-width: 51.25rem) {
    
}
















/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: lowercase;
}

header {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    border-bottom: 0.25rem solid black;
}

header ul {
    list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header li {
    margin: 0 10px;
}

header li a {
    text-decoration: none;
    color: black;
}

.body {
    max-width: 100%;
    display: grid;
    grid:
    "sidebar body" 1fr
    / 10% 1fr;
    gap: 8px;
}

nav {
    grid-area: sidebar;
	padding: 10px;
	width: 20vw;
    border-right: 0.25rem solid black;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 10px 0;
}

nav li a {
    text-decoration: none;
    color: black;
}

section {
    grid-area: body;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: stretch;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
}

article {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    max-width: 100%;
    border: 0.125rem solid black;
    border-radius: 25px;
    width: 25.625rem;
    height: 20.25rem;
    margin: 1rem;
}

article hr {
    opacity: 25%;
}

article .avatar-name {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

article .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

article .name-name {
    display: flex;
    justify-content: center;
    height: 0.2rem;
}

article .name-surname::before {
    content: "\a";
    white-space: pre;
    display: flex;
}

article img {
    max-width: 100%;
    border-radius: 15px;
    height: 7.5rem;
    width: 7.5rem;
    margin: 0.5rem;
}

article .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 50%;
}

article .website-role {
    display: grid;
    align-items: center;
}

article .website-role .button {
    display: flex;
    height: 3rem;
    width: 8rem;
    border-radius: 5rem;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

article .info-role {
    display: flex;
    justify-content: center;
}

article .info a {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .color {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

article .color section {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    align-items: flex-end;
    margin-top: 1rem;
} */